
.head-subtitle {
    color: #fff;
    font-size: 20px;
    position: relative;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  r: 5px;
}

.g-tip {
  position: absolute;
  pointer-events: none;
}

.g-tip-shadow {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

.g-tip-content {
  position: absolute;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 12px sans-serif;
}

.g-tip-box {
  position: absolute;
  fill: #fff;
  stroke: #000;
  stroke-opacity: .2;
}

.g-tip-title,
.g-tip-metric-value {
  font-weight: bold;
}

.g-tip-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.g-tip-subtitle {
  margin-bottom: 4px;
}

.g-tip-metric {
  clear: right;
  padding: 2px 0;
}

.g-tip-metric+.g-tip-metric {
  border-top: solid 1px #eee;
}

.g-tip-metric-value {
  float: right;
}

.g-tip-metric-name {
  color: #777;
}
