#preloader h5 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  top: 50%;
  border-radius: 100%;
  position: relative;
  font-size: 20px;
}

.head-subtitle {
    color: #fff;
    font-size: 20px;
    position: relative;
}

/*
    Global
 */

#keywordInput {
    margin: auto;
}

.timeButtons {
  display: flex;
  justify-content: center;
}

.timeButton {
  margin-left: 5px;
  margin-right: 5px;
}


/*
  Local
 */

#userIdInput {
  background-color:rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 150px;
}

#userIdInput,
#userIdInput::placeholder {
  color: white;
}

/*
  How To
 */

#howToImage {
  height: 500px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#howToButtons {
  margin: auto;
}

#howToNext, #howToPrev {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.disabled {
  background-image: -webkit-linear-gradient(0deg, #555555 0%, #aaaaaa 100%)
}

.highlight {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(bottom right, #3c96ff, #2dfbff);
}

#howToText h3 {
  margin-top: 40px;
}

/*
  Force directed network graph
 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  r: 5px;
}

.beeswarm-circle {
  r: 4;
  color: #777;
}

.g-tip {
  position: absolute;
  pointer-events: none !important;
  width: 150px;
  height: 80px;
}

.g-tip-shadow {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

.g-tip-content {
  position: absolute;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 12px sans-serif;
}

.g-tip-box {
  position: absolute;
  fill: #fff;
  stroke: #000;
  stroke-opacity: .2;
}

.g-tip-title,
.g-tip-metric-value {
  font-weight: bold;
}

.g-tip-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}

.g-tip-subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
}

.g-tip-metric {
  clear: right;
  padding: 2px 0;
}

.g-tip-metric+.g-tip-metric {
  border-top: solid 1px #eee;
}

.g-tip-metric-value {
  float: right;
}

.g-tip-metric-name {
  color: #777;
}
