#preloader h5 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  top: 50%;
  border-radius: 100%;
  position: relative;
  font-size: 20px;
}

.head-subtitle {
    color: #fff;
    font-size: 20px;
    position: relative;
}

/*
    Preloader animation
 */

#funFactContainer {
  width: 100%;
  top: 50%;
  align-items: center;
  position: relative;
}

.fun-fact {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.hidden-fun-fact {
  visibility: hidden;
}

@-webkit-keyframes "factshift" {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fun-fact:nth-child(1) {
  animation: factshift 50s 0s infinite linear;
}

.fun-fact:nth-child(2) {
  animation: factshift 50s 10s infinite linear;
}

.fun-fact:nth-child(3) {
  animation: factshift 50s 20s infinite linear;
}

.fun-fact:nth-child(4) {
  animation: factshift 50s 30s infinite linear;
}

.fun-fact:nth-child(5) {
  animation: factshift 50s 40s infinite linear;
}

/*
    Sidebar
 */

.sidenav {
   height: 100%; /* Full-height: remove this if you want "auto" height */
   width: 230px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 5; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden;
   padding-top: 20px;
   opacity: 0;
}

.sidenav div {
  top: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  float: right;
}

/*
    Global
 */

.text-wrapper h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

#keywordInputForm {
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}

#keywordInputForm input {
  margin: auto;
  margin-right: 0px;
  width: 370px;
  font-size: 30px;
  border-radius: 2px;
  letter-spacing: 0.3px;
  padding-left: 13px;
  border-radius: 100px;
}

#keywordInputForm button {
  margin: auto;
  margin-left: -73px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 70px;
  background-image: -webkit-linear-gradient(bottom right, #3c96ff, #2dfbff);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.7px;
  border-radius: 100px;
}

.timeButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.timeButton {
  margin-left: 5px;
  margin-right: 5px;
}

#trendAnalysis {
  display: flex;
  justify-content: center;
}

#trendAnalysis p {
  font-size: 25px;
  margin-top: 20px;
  width: 75%;
  line-height: 30px;
}


/*
  Local
 */

#userIdInput {
  background-color:rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 150px;
}

#userIdInput,
#userIdInput::placeholder {
  color: white;
}

/*
  How To
 */

#howToImage {
  height: 500px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#howToButtons {
  margin: auto;
}

#howToNext, #howToPrev {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.disabled {
  background-image: -webkit-linear-gradient(0deg, #555555 0%, #aaaaaa 100%);
  color: white;
}

.highlight {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(bottom right, #3c96ff, #2dfbff);
}

#howToText h3 {
  margin-top: 40px;
}

/*
  Force directed network graph
 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.links line:hover {
  stroke-opacity: 1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  r: 5px;
}

.nodes circle:hover {
  stroke: #000000;
  stroke-opacity: .3;
}

.beeswarm-circle {
  r: 4;
  color: #777;
}

.g-tip {
  position: absolute;
  pointer-events: none !important;
  width: 150px;
  height: 80px;
}

.g-tip-shadow {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

.g-tip-content {
  position: absolute;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 12px sans-serif;
}

.g-tip-box {
  position: absolute;
  fill: #fff;
  stroke: #000;
  stroke-opacity: .2;
}

.g-tip-title,
.g-tip-metric-value {
  font-weight: bold;
}

.g-tip-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}

.g-tip-subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
}

.g-tip-metric {
  clear: right;
  padding: 2px 0;
}

.g-tip-metric+.g-tip-metric {
  border-top: solid 1px #eee;
}

.g-tip-metric-value {
  float: right;
}

.g-tip-metric-name {
  color: #777;
}

.list-group{
  max-height: 300px;
  overflow:scroll;
  border: 1px solid #ccd6de;
  border-radius: 10px;
}

.h-tip {
  position: absolute;
  pointer-events: none !important;
  width: 80px;
  height: 30px;
}

.h-tip-shadow {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}
.h-tip-content {
  position: absolute;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 12px sans-serif;
  text-align: center;
}

.h-tip-box {
  position: absolute;
  fill: #fff;
  stroke: #000;
  stroke-opacity: .2;
}

#hangouts-details-title {
  font-size: 20px;
}
#hangouts-details {

}

.bolded {
  color: #5fa3b9;
  margin-bottom: 5px;
}

#hangouts-tip {
  text-align: center;
  font-size: 20px;
}


.transaction-table {
  height: 500px;
  overflow: scroll;
  display: block;
}
